<h1>Editing Lab</h1>

<%= render 'form', lab: @lab %>

<%= form_for(@lab) do |f| %>
  <%= f.label :name, "研究室名" %>
  <%= f.text_field :name %>

  <!-- 先生 -->
  <%= f.text_field :teacher %>

  <!-- メンバー -->


  <!-- テーマ-->>
  <%= f.text_area :theme_detail  %>

  <!-- 関連授業 -->
  
  <% @lessons.each do |lesson| %>
  <% checked = lesson.labs.exists?(@lab.id) ? true : false %>
  <%= f.check_box 'lesson_ids', { :name => 'group[lesson_ids][]', :checked => checked }, lesson.id, nil %>
  <%= lesson.name %>
  <% end %>
  <%= f.submit "Send" %>
<% end %>
