<p id="notice"><%= notice %></p>



<div class="Container l-column">


  <%= render 'layouts/sidebar' %>


  <div class="Container__main">
    <div class="SearchArea">
      <div class="SearchArea__Contents">
        <div class="SearchArea__title">絞り込む</div>

        <%= form_tag({:controller => "labs", :action => "index"}, :method => 'get') do %> 
        <div class="SearchArea__Keywords">
          キーワード
          <%= text_field_tag :search, params[:search], :class =>'input SearchArea__Keywords__input'%>

        </div>

        <div class="SearchArea__Conditions">

          <div class="SearchArea__Cource">
            <div class="SearchArea__Cource__label">文・理</div>
            <select class="SearchArea__Cource__select">
              <option value="literature">文系</option>
              <option value="science">理系</option>
            </select>
          </div>

          <div class="SearchArea__NumberOfPeople">
            <div class="SearchArea__NumberOfPeople__label">在籍人数</div>
            <%= number_field_tag :minmember %>人 〜
            <%= number_field_tag :maxmember, :class=> "SearchArea__NumberOfPeople__min"%> 人
          </div>

        </div>

        <div class="SearchArea__Submit">
          <%= button_tag '<i class="fa fa-search" aria-hidden="true"></i>検索'.html_safe, :method =>"submit", :class => 'SearchArea__Submit__button' %>
        </div>


        <% end %>

</div>

</div>


<div class="ResultArea">
  <div class="ResultArea__header">全<span class="ResultArea__header__count"><%= @count.to_s %></span>件</div>
  <% @labs.each do |lab| %>
  <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <%= link_to lab.name, lab %>
    <div class="ResultArea__Result__data">
      <i class="fa fa-university" aria-hidden="true"></i><%= lab.college.name %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i><%= lab.teacher %>
      <i class="fa fa-users" aria-hidden="true"></i><%= lab.people.count %>
    </div>
  </div>
  <% end %>

  <% @labspersonname.each do |lab| %>
    <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <%= link_to lab.name, lab %>
    <div class="ResultArea__Result__data">
      <i class="fa fa-university" aria-hidden="true"></i><%= lab.college.name %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i><%= lab.teacher %>
      <i class="fa fa-users" aria-hidden="true"></i><%= lab.people.count %>
    </div>
  </div>

  <% end %>
  <% @labstheme.each do |lab| %>
    <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <%= link_to lab.name, lab %>
    <div class="ResultArea__Result__data">
      <i class="fa fa-university" aria-hidden="true"></i><%= lab.college.name %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i><%= lab.teacher %>
      <i class="fa fa-users" aria-hidden="true"></i><%= lab.people.count %>
    </div>
  </div>

  <% end %>
  <% @labslabname.each do |lab| %>
    <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <%= link_to lab.name, lab %>
    <div class="ResultArea__Result__data">
      <i class="fa fa-university" aria-hidden="true"></i><%= lab.college.name %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i><%= lab.teacher %>
      <i class="fa fa-users" aria-hidden="true"></i><%= lab.people.count %>
    </div>
  </div>

  <% end %>

  <% @labsmessages.each do |lab| %>
    <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <%= link_to lab.name, lab %>
    <div class="ResultArea__Result__data">
      <i class="fa fa-university" aria-hidden="true"></i><%= lab.college.name %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i><%= lab.teacher %>
      <i class="fa fa-users" aria-hidden="true"></i><%= lab.people.count %>
    </div>
  </div>

  <% end %>

  <% @labslessons.each do |lesson| %>
  <% lesson.labs.each do |lab|  %>
  <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <div class="ResultArea__Result__labname">
        <%= link_to lab.name, lab %>
    </div>
  </div>
  <% end  %>
  <% end %>

  <% @labscompanies.each do |company| %>
  <% company.labs.each do |lab|  %>
  <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <div class="ResultArea__Result__labname">
        <%= link_to lab.name, lab %>
    </div>
  </div>
  <% end  %>
  <% end %>

  <% @labscolleges.each do |college| %>
  <% college.labs.each do |lab|  %>
  <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <div class="ResultArea__Result__labname">
        <%= link_to lab.name, lab %>
    </div>
  </div>
  <% end  %>
  <% end %>

  <% @labscategories.each do |category| %>
  <% category.labs.each do |lab|  %>
  <div class="ResultArea__Result" data-lab_id=<%=lab.id%>>
    <div class="ResultArea__Result__labname">
        <%= link_to lab.name, lab %>
    </div>
  </div>
  <% end  %>
  <% end %>
</div>


</div>

</div>

<script type="text/javascript">

$elements = $('.ResultArea__Result')
var li = [];
for (var i=0; i<$elements.length; i++) {
  var lab_id = $elements.eq(i).data('lab_id');
  li.push(lab_id)
  if (li.indexOf(lab_id) >= 0) {
    // 重複を検出
    // 末尾の削除
    li.pop()
    $('[data-lab_id='+lab_id+']').eq(1).remove();
  
  }
}

  
</script>
