<p id="notice"><%= notice %></p>




<div class="Header">
<div class="Header__logo">Elab</div>
</div>


<div class="Container l-column">

  <div class="Container__sub">
  <div class="Container__sub__title">
  テーマから探す
  </div>
  <ul class="Container__sub__list">
  <li class="Container__sub__item">テーマ</li>
  <li class="Container__sub__item">テーマ</li>


  </ul>

  </div>




<div class="Container__main">
  <div class="SearchArea">
    <div class="SearchArea__title">絞り込む</div>

    <div class="SearchArea__box">
    キーワード

  <%= form_tag({:controller => "labs", :action => "index"}, :method => 'get') do %> 
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

    <!-- <input type="text" class="input SearchArea__box__input"> -->
      <!-- <button class="button button-blue button-s">検索</button> -->
    </div>


  </div>
  
  <div class="ResultArea">
  <div class="ResultArea__title">全◯◯件</div>
  <% @labs.each do |lab| %>

  <li class="ResultArea__item"><%= lab.name %></li>

  <% end %>



  </div>


</div>



</div>


<!--

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.name %></td>
        <td><%= link_to 'Show', lab %></td>
        <td><%= link_to 'Edit', edit_lab_path(lab) %></td>
        <td><%= link_to 'Destroy', lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Lab', new_lab_path %>
  

-->
